.tab {
    display: none;
}
.active {
    display: block;
    /* Cała szerokość rodzica, new line, */
}
.tab-navigation{
    display: flex;
}
.exercise-form-dropset {
    display: none;
}
.exercise-form-dropset.visible {
    /* dwie klasy naraz */
    display: block;
}